h1{
	font-family:"Arial", Verdana, Serif;
	color:darkred;
	margin-left:25px;


}
p{
	font-size:20px;
	margin-left:25px;
	color:#b30000;


}
body{
	background-color:#f2f2f2;

}
li{
	list-style-type:none;
}
a{
	color:white;
	font-size:30px;
	text-decoration:none;


}
nav{

	background-color:darkred;
}